
<section class="uk-section uk-section-small uk-section-default uk-padding-remove-bottom">
    <div class="uk-container uk-container-large uk-margin-large-bottom" >
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>USER</th>
                    <th>BOOK</th>
                    <th>STATUS</th>
                    <th>DATA INÍCIO</th>
                    <th>DATA FIM</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of rentalbooks">
                <tr>
                    <td> {{item.id}}</td>
                    <td>{{item.id_client}}</td>
                    <td>{{item.id_book}}</td>
                    <td>{{item.id_status_rental}}</td>
                    <td>{{item.date_start_rental}}</td>
                    <td>{{item.date_end_rental}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>



  
